{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": [ "node_modules", "src/" ]
      }
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2020
  },
  "plugins": [ "prettier", "react", "react-hooks" ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "bracketSpacing": true,
        "endOfLine": "auto",
        "printWidth": 140,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "none",
        "useTabs": false
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "off",
    "no-undef": "off",
    "react/display-name": "off",
    "react/jsx-filename-extension": "off",
    "no-param-reassign": "off",
    "react/prop-types": 1,
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "import/order": "off",
    "import/no-cycle": "off",
    "no-console": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "prefer-destructuring": "off",
    "no-shadow": "off",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/no-autofocus": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [ "@mui/*/*/*", "!@mui/material/test-utils/*" ]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": false
      }
    ]
  }
}
